extends layout

block content
  h1= title
  p Welcome to #{title}

  h2= "Users endpoints"

  p GET api/v1/users
  p POST api/v1/users
  p PUT api/v1/users/:id
  p DELETE api/v1/users/:id



  h2= "House endpoints"

  p GET api/v1/house
  p POST api/v1/house
  p PUT pi/v1/house/:id
  p DELETE api/v1/house/:id


  h2= "HouseRules endpoints"

  p GET api/v1/houseRules
  p POST api/v1/houseRules
  p PUT api/v1/houseRules/:id
  p DELETE api/v1/houseRules/:id


  h2= "Anouncement endpoints"

  p GET api/v1/anouncement
  p POST api/v1/anouncement
  p PUT api/v1/anouncement/:id
  p DELETE api/v1/anouncement/:id

